canvas {
    position: absolute;
    left: 0;
    top: 100;
    border: 2px solid black;
}

svg {
    position: absolute;
    left: 0;
    top: 100;
}

div #container {
    position: relative;
    background-color: black;
}

canvas #balloon-canvas {
    z-index: 3;
}

canvas #clouds-canvas {
    z-index: 2;
}

body {
    /*background-color: rgb(239, 228, 176);*/
    background: url('images/paper.png');
    background-repeat: repeat;
}

#heading{
   display: block;
    margin: auto;
   
}

button {
    position: relative;
    background-color:transparent; 
    border-color:transparent;
    z-index: 10;
}

img {
    height: 70;
}

