canvas {
    position: absolute;
    left: 10;
    top: 100;
    border-top: 5px dotted black;
	border-bottom: 5px dotted black;
    border-left: 2px solid black;
    border-right: 2px solid black;
	box-shadow: inset 0 -1px 0 0 black, inset 0 1px 0 0 black, 0 1px 0 0 black, 0 -1px 0 0 black;
	margin-bottom: 1px;
}

svg {
    position: absolute;
    left: 10;
    top: 100;
}

div #container {
    position: relative;
    background-color: black;
}

canvas #balloon-canvas {
    z-index: 3;
}

canvas #clouds-canvas {
    z-index: 2;
}

body {
    background: url('images/paper.png');
    background-repeat: repeat;
}

#heading{
   display: block;
    margin: auto;

}

button {
    position: absolute;
    background-color:transparent;
    border-color:transparent;
    z-index: 10;
}

#btn-start{
    right: 10px;
    top: 100px;
    width: 300px;
}

#btn-pause{
    right: 10px;
    top: 250px;
    width: 300px;
}

#score{
    position: absolute;
    background-color:transparent;
    border-color:transparent;
    z-index: 10;
    right: 10px;
    top: 400px;
    width: 300px;
}

.btn-img {
    height: 150;
    width: 200;
}

#score-number{
    font-size: 36px;
    margin-top: 60px;
    position: absolute;
    right: 140px;
}


