canvas {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid black;
}

canvas #balloon-canvas {
    z-index: 3;
}

canvas #clouds-canvas {
    z-index: 2;
}

h1{
    font-family: "Goudy Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 30px;
}

button {
    position: relative;
}

button {
    background-color:transparent; 
    border-color:transparent;
}

img {
    height: 70;
}